@import 'style';

.welcome-container {
  margin: 8em 0;
  padding-right: 0;
  justify-content: space-between;
  align-items: center;

  .paragraph-container {
    width: 45%;

    h1 {
      margin-bottom: 32px;
    }

    p>strong {
      font-weight: 600;
    }

    p:last-of-type {
      margin-top: 20px;
    }

  }

  .pic-3d-hand-container {
    width: 50%;


    .hand-pic {
      width: 100%
    }
  }
}

/*
.background-container {
  margin-top: 8em;
  flex-direction: column;
  row-gap: 4em;
  padding: 0;

  .timeline-container {
    overflow-x: auto;
    padding: 24px 100px;
    background-color: $brand-accent-color-opacity-4;

    .years-container {
      opacity: 50%;
      margin-bottom: 24px;

      ul {
        display: flex;

        li {
          display: block;
          margin-right: 50px;


          .timeline-year {
            margin-bottom: 2em;

            .year {
              font-weight: 600;
              margin-bottom: 1em;
            }

            .months {
              display: flex;
              width: auto;
              column-gap: 6em;

              p {
                width: 208px
              }
            }



          }

        }
      }
    }

    .timeline-content-container {

      .category-container {
        display: flex;
        width: 4150px;
        column-gap: 0.5em;
        margin-bottom: 1em;

        .category-item {
          border-radius: 16px;
          padding: 4px 16px;
          height: fit-content;

          .time-period {
            font-family: urbane-rounded, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1em;
            opacity: 75%;
            margin-bottom: 4px;
          }

          p {

            line-height: 1.5;
          }
        }
      }

      .education-container {
        .education-item {
          color: $brand-white-color;
          background-color: $brand-accent-color;
        }

        .education-item-accademia {
          width: 50%;
          margin-right: 20%;


        }

        .education-item-academy-student {
          width: 10.75%;
        }

        .education-item-academy-pier {
          width: 13.25%;
        }
      }

      .work-container {
        .work-item {
          color: $brand-white-color;
          background-color: $brand-black-color;
        }

        .work-item-liu-jo {
          margin-left: 29%;
          width: 4%;
        }

        .work-item-nucleo {
          width: 6.75%;
          margin-left: 14%
        }

        .work-item-freelance {
          width: 6.75%;
          margin-left: 30%
        }
      }

      .nothing-container {
        .nothing-item {
          background-color: $pure-white;
          color: $brand-black-color;
          margin-left: 54%;
          width: 16%;
        }
      }


    }
  }

}
*/

.background-container{
  flex-direction: column;
  row-gap: 4em;
  padding:0;
  width: 100vw;

  .slide-container{
    width: 100%;
    padding: 20px  100px 40px 100px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 47%;
    column-gap: 2em;

    overflow-x:auto;
    
    

    .experience-card{
      display: flex;
      flex-direction: column;
      color: $brand-white-color;
      background-color: $brand-black-color;
      
      box-shadow: 0px 5px 10px  rgba(0,0,0, 0.1);
      
      padding: 1em;
      border-radius: 1em;
      
      height:fit-content;
      
      
      

      .time-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: -32px;
        
      }

       #card-active{
        display: none;
       }        
       
       
        
       #card-active:checked ~ .description-box {
          display: flex;
          flex-direction: column;
          row-gap: 1em;

          
       }

       #card-active-2{
        display: none;
       }         
        
       #card-active-2:checked ~ .description-box {
          display: flex;
          flex-direction: column;
          row-gap: 1em;

          
       }

       #card-active-3{
        display: none;
       }         
        
       #card-active-3:checked ~ .description-box {
          display: flex;
          flex-direction: column;
          row-gap: 1em;

          
       }

       #card-active-4{
        display: none;
       }         
        
       #card-active-4:checked ~ .description-box {
          display: flex;
          flex-direction: column;
          row-gap: 1em;

          
        
       }

       #card-active-5{
        display: none;
       }         
        
       #card-active-5:checked ~ .description-box {
          display: flex;
          flex-direction: column;
          row-gap: 1em;

          
       }

       #card-active-6{
        display: none;
       }         
        
       #card-active-6:checked ~ .description-box {
          display: flex;
          flex-direction: column;
          row-gap: 1em;

          
       }
  
  
       .open-card-button{
        display: flex;
        justify-content: flex-end;
        position: relative;
        
        
       }
      svg {
        fill: $brand-white-color
        
      }
  
      label{
        opacity: 50%;
        font-family: urbane-rounded, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1em;
        text-transform: uppercase;
      }
  
      
  
      .info-container{
        display: flex;
        flex-direction: column;
        row-gap: 1em;
  
        .type-container{
          display: flex;
          width:100%;
          flex-wrap: wrap;
          row-gap: 1em;
          
  
          .type-item{
            display: flex;
            flex-direction: column;
            
            width: 50%;
            min-width: 170px;
            
            p{
              line-height: 1.2em;
            }
            
          }
        }
  
        .description-box{
          display: none;
        }
  
        .success-list {
          font-size: 1.125em;
          margin-left: 1em;
          
          li{
            margin-bottom: 0.5em;
            line-height: 1.125em *1.2;
          }
        }
      }
      
    }

    

    

    .job-card{
      background-color: $brand-accent-color;
      box-shadow: 0px 5px 10px $brand-accent-color-opacity-2;
    }

    
  }

}




.philosophy-container {
  flex-direction: column;
  margin-top: 8em;

  .headline-container {
    text-align: center;

    h4 {
      margin-top: 0.5em;
      opacity: 50%;
    }
  }

  .design-philosophy-grid-content {
    margin-top: 4em;
    display: flex;
    gap: 24px;

    .philosophy-item-container {
      flex: 1;

      .illustration-container {
        display: flex;
        margin-bottom: 32px;
      }

      .adapta-container {
        margin-top: 1em;
      }

      h3 {
        margin-bottom: 16px;
      }
    }

  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  .welcome-container {
    margin: 8em 0 4em 0;
    padding-right: 0;
    flex-direction: column-reverse;
    row-gap: 3em;

    .paragraph-container {
      width: 100%;
      padding-right: 14em;

      h1 {
        margin-bottom: 32px;
      }

      p>strong {
        font-weight: 600;
      }

      p:last-of-type {
        margin-top: 20px;
      }

    }

    .pic-3d-hand-container {
      width: 100%;
      display: flex;
      justify-content: end;


      .hand-pic {
        width: 80%
      }
    }
  }
/*
  .background-container {

    .timeline-container {
      padding: 24px 48px;


      .years-container {

        ul {


          li {

            margin-right: 16px;


            .timeline-year {




              .months {


                p {
                  width: 208px / 2
                }
              }



            }

          }
        }
      }

      .timeline-content-container {

        .category-container {

          width: 4150px / 2;



        }

        .education-container {

          .education-item-accademia {
            width: 48%;
            margin-right: 19%;


          }

          .education-item-academy-student {
            width: 10.25%;
          }

          .education-item-academy-pier {
            width: 12.75%;
          }
        }

        .work-container {

          .work-item-liu-jo {
            margin-left: 27%;
            width: 4%;
          }

          .work-item-nucleo {
            width: 7.25%;
            margin-left: 13%
          }

          .work-item-freelance {
            width: 7%;
            margin-left: 28.5%
          }
        }

        .nothing-container {
          .nothing-item {
            margin-left: 51.75%;
            width: 15.25%;
          }
        }
      }
    }


  }
  */

  .background-container{
    .slide-container{
      
      padding: 20px  48px 40px 48px;
      grid-auto-columns: 58%;
  
      overflow-x:auto;
  }
}

  .philosophy-container {


    .design-philosophy-grid-content {
      row-gap: 4em;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

      .philosophy-item-container {

        margin: 0 7em;
        text-align: center;



        .illustration-container {
          display: flex;
          margin-bottom: 32px;
          justify-content: center;
        }

        .adapta-container {
          margin-top: 1em;
        }

        h3 {
          margin-bottom: 16px;
        }
      }

    }
  }
}

@media only screen and (max-width: 768px) {


  .welcome-container {
    margin: 6em 0 3em 0;
    padding-right: 0;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 3em;

    .paragraph-container {
      width: 100%;
      padding-right: 1em;


      h1 {
        margin-bottom: 32px;
      }

      p>strong {
        font-weight: 600;
      }

      p:last-of-type {
        margin-top: 20px;
      }

    }

    .pic-3d-hand-container {
      width: 100%;
      display: flex;
      justify-content: end;


      .hand-pic {
        width: 100%
      }
    }
  }

/*
  .background-container {
    margin-top: 0;

    row-gap: 3em;

    .headline-container {
      margin-left: 1em;
    }


    .timeline-container {
      padding: 24px 16px;


      .years-container {
        ul {

          li {
            margin-right: 32px;


            .timeline-year {




              .months {
                column-gap: 1em;

                p {
                  width: 208px / 3
                }
              }



            }

          }
        }
      }

      .timeline-content-container {

        .category-container {

          width: 3600px;



        }

        .education-container {

          .education-item-accademia {
            width: 48%;
            margin-right: 19%;


          }

          .education-item-academy-student {
            width: 10.25%;
          }

          .education-item-academy-pier {
            width: 12.75%;
          }
        }

        .work-container {

          .work-item-liu-jo {
            margin-left: 27%;
            width: 4%;
          }

          .work-item-nucleo {
            width: 7.25%;
            margin-left: 13%
          }

          .work-item-freelance {
            width: 7%;
            margin-left: 28.5%
          }
        }

        .nothing-container {
          .nothing-item {
            margin-left: 51.75%;
            width: 15.25%;
          }
        }
      }
    }


  }
*/

.background-container{
  flex-direction: column;
  row-gap: 2em;
  padding:0;
  width: 100%;

  .headline-container{
    padding-left: 1em;
  }

  .slide-container{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    overflow-x:none;
  }
}






  .philosophy-container {
    margin-top: 4em;

    .headline-container {
      text-align: left;

      h2 {
        text-align: left;
      }

      h4 {
        font-size: 1.25em;
      }
    }

    .design-philosophy-grid-content {
      row-gap: 4em;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

      .philosophy-item-container {

        margin: 0;
        text-align: left;

        .adapta-container {
          margin-top: 1em;
        }

        h3 {
          margin-bottom: 16px;
        }
      }

    }
  }

}