/* General CSS */
@import url("https://use.typekit.net/xaz7flh.css");
/* Colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF6E6;
  font-size: 16px;
  font-family: new-kansas, sans-serif;
  font-weight: 400;
  color: #1C2029;
}

/* Containers */
.container {
  display: flex;
  width: 100%;
  padding: 0 100px;
}

.nav-container {
  position: fixed;
  z-index: 10;
  padding-top: 24px;
  display: flex;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8em;
}

.primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border: 1px solid rgba(191, 129, 53, 0.1882352941);
  border-radius: 20px;
  width: 100%;
  padding: 8px 8px 8px 24px;
}

.id-site {
  width: 150px;
  padding-top: 4px;
}
.id-site .logo {
  width: 100%;
}

.nav-sections-container {
  width: auto;
  height: 100%;
  display: flex;
}
.nav-sections-container .nav-sections {
  display: flex;
  list-style: none;
  gap: 12px;
  align-items: center;
}

.nav-link {
  padding: 12px 20px;
  font-family: urbane-rounded, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: #1C2029;
  opacity: 80%;
}

.nav-link:hover {
  font-weight: 700;
  color: #B7731F;
}

.nav-link:active {
  font-weight: 700;
  color: #C5791B;
}

.nav-link[aria-current=page] {
  font-weight: 700;
  color: #BF8135;
}

svg {
  fill: #1C2029;
  opacity: 80%;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

label ul {
  list-style: none;
}

/* Button styles*/
.btn-base {
  padding: 12px 20px;
  font-family: urbane-rounded, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 12px;
}

.btn-primary {
  color: #FFF6E6;
  background-color: #BF8135;
}

.btn-primary:hover {
  background-color: #B7731F;
}

.btn-primary:active {
  background-color: #C5791B;
}

.btn-secondary {
  color: #BF8135;
  background-color: rgba(191, 129, 53, 0.1882352941);
}

.btn-secondary:hover {
  background-color: rgba(191, 129, 53, 0.3764705882);
}

.btn-secondary:active {
  background-color: rgba(191, 129, 53, 0.2705882353);
}

/* Headlines */
h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 3.5em;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
}

h4 {
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.2375em;
}

/* Body text styles */
p {
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.575em;
}

strong {
  font-weight: 700;
}

/* Page-end*/
.main-content-break {
  width: 100%;
  height: 1px;
  color: #BF8135;
  opacity: 50%;
}

.end-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.end-wrapper .designer-pic-container {
  display: block;
  width: 40%;
}
.end-wrapper .designer-pic-container .the-pic {
  width: 100%;
}
.end-wrapper .contact-wrapper {
  width: 50%;
}
.end-wrapper .contact-wrapper .text-container h2 {
  margin-bottom: 24px;
  margin-top: 8px;
  text-align: left;
}
.end-wrapper .contact-wrapper .text-container .bye-text {
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
  opacity: 50%;
}
.end-wrapper .contact-wrapper .button-container {
  display: flex;
  gap: 20px;
}

/*Footer*/
footer {
  display: flex;
  margin-top: 8em;
  flex-direction: column;
  width: 100vw;
  row-gap: 0px;
}
footer .top {
  width: 100%;
}
footer .footer-frame {
  padding: 50px 100px;
  background-color: #BF8135;
}
footer .footer-frame .footer-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 64px;
}
footer .footer-frame .footer-info-container .logo-footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 33%;
  row-gap: 12px;
}
footer .footer-frame .footer-info-container .logo-footer-wrapper p {
  color: #FFF6E6;
}
footer .footer-frame .footer-info-container .link-wrapper {
  display: flex;
}
footer .footer-frame .footer-info-container .link-wrapper ul {
  text-align: right;
  list-style: none;
}
footer .footer-frame .footer-info-container .link-wrapper ul .footer-link {
  color: #FFF6E6;
  display: block;
  margin-bottom: 1em;
  font-weight: 600;
}
footer .footer-frame .rights-container {
  color: #FFF6E6;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.4em;
  }
  .container {
    padding: 0 48px;
  }
  .nav-container {
    padding-top: 24px;
  }
  .page-content {
    row-gap: 4em;
  }
  .end-wrapper .designer-pic-container {
    width: 42.5%;
  }
  .end-wrapper .contact-wrapper {
    width: 49%;
  }
  .end-wrapper .contact-wrapper .text-container h2 {
    font-size: 2.25em;
    margin-right: 1em;
  }
  .end-wrapper .contact-wrapper .button-container {
    gap: 16px;
  }
  footer .footer-frame {
    padding: 48px;
  }
  footer .footer-frame .footer-info-container .logo-footer-wrapper {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
  .nav-container {
    padding: 0;
  }
  .primary-navigation {
    border: 0 0 1px 0 solid rgba(191, 129, 53, 0.2705882353);
    border-radius: 0;
    padding: 16px;
  }
  .nav-sections-container {
    display: none;
  }
  .nav-sections-container .nav-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: none;
    padding: auto;
    height: 16em;
    padding: 2em;
    background-color: #FFF;
    box-shadow: 0 -5px 5px rgba(191, 129, 53, 0.1882352941);
    border-radius: 20px 20px 0 0;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    position: absolute;
    display: flex;
    right: 0;
  }
  .close-sidebar-button {
    right: 1em;
    top: 1em;
  }
  #sidebar-active:checked ~ .nav-sections-container {
    display: flex;
  }
  h1 {
    text-align: left;
    font-weight: 700;
    font-style: normal;
    font-size: 2.7em;
  }
  h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 2.25em;
    text-align: left;
  }
  h3 {
    font-weight: 600;
    font-style: normal;
    font-size: 1.6em;
  }
  .page-content {
    row-gap: 6em;
  }
  .end-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
  .end-wrapper .designer-pic-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 32px;
  }
  .end-wrapper .designer-pic-container .the-pic {
    width: 75%;
  }
  .end-wrapper .contact-wrapper {
    width: 100%;
  }
  .end-wrapper .contact-wrapper .text-container {
    text-align: center;
  }
  .end-wrapper .contact-wrapper .text-container h2 {
    text-align: center;
  }
  .end-wrapper .contact-wrapper .button-container {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .end-wrapper .contact-wrapper .button-container .btn-base {
    flex: 1;
    text-align: center;
    min-width: 220px;
  }
  footer {
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    width: 100vw;
    row-gap: 0px;
  }
  footer .top {
    width: 100%;
  }
  footer .footer-frame {
    padding: 24px 16px;
  }
  footer .footer-frame .footer-info-container {
    flex-direction: column;
    justify-content: none;
    row-gap: 3em;
    align-items: center;
    margin-bottom: 3em;
  }
  footer .footer-frame .footer-info-container .logo-footer-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  footer .footer-frame .footer-info-container .logo-footer-wrapper p {
    text-align: center;
  }
  footer .footer-frame .footer-info-container .logo-footer-wrapper .logo-footer {
    width: 80%;
  }
  footer .footer-frame .footer-info-container .link-wrapper ul {
    display: flex;
    gap: 2em;
  }
  footer .footer-frame .footer-info-container .link-wrapper ul .footer-link {
    color: #FFF6E6;
    display: block;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.25em;
  }
  footer .footer-frame .rights-container {
    text-align: center;
    padding: 0 3em;
  }
}
.hero-container {
  margin-top: 144px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.hero-container .logo-pic-container {
  width: 100%;
}
.hero-container .logo-pic-container .logo-illustration {
  width: 33%;
}
.hero-container .hero-text h1 {
  margin-bottom: 20px;
}
.hero-container .hero-text h1 span {
  color: #BF8135;
}

.projects-container {
  flex-direction: column;
  align-items: center;
}
.projects-container .projects-wrap-grid {
  margin-top: 6em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 4em;
}
.projects-container .projects-wrap-grid .project .project-pic-container {
  width: 100%;
  aspect-ratio: 5/3;
  display: flex;
}
.projects-container .projects-wrap-grid .project .project-pic-container .project-pic {
  transition-duration: 300ms;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.projects-container .projects-wrap-grid .project .project-description {
  margin-top: 1em;
}
.projects-container .projects-wrap-grid .project .project-description .project-label-container {
  display: flex;
  list-style: none;
  opacity: 50%;
  column-gap: 1em;
  margin-bottom: 0.5em;
}
.projects-container .projects-wrap-grid .project .project-description .project-label-container li {
  font-family: urbane-rounded, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
.projects-container .projects-wrap-grid .project:hover .project-pic {
  transition-duration: 300ms;
  scale: 105%;
}
.projects-container .projects-wrap-grid .project:hover h3 {
  transition-duration: 300ms;
  color: #BF8135;
}
.projects-container .projects-wrap-grid .project-in-progress {
  opacity: 50%;
}
.projects-container .projects-wrap-grid .project-in-progress:hover .project-pic {
  scale: 100%;
}
.projects-container .projects-wrap-grid .project-in-progress:hover h3 {
  color: #1C2029;
}

.feedback-container {
  flex-direction: column;
}
.feedback-container .cards-grid-wrapper {
  display: flex;
  column-gap: 2em;
  margin-top: 3em;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2em;
}
.feedback-container .cards-grid-wrapper .feedback-card {
  min-width: 340px;
  max-width: 510px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #FFF;
  padding: 20px;
  border-radius: 20px;
}
.feedback-container .cards-grid-wrapper .feedback-card .feedback-person {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.feedback-container .cards-grid-wrapper .feedback-card .feedback-person .profile-pic-container {
  max-width: 64px;
  margin-right: 20px;
}
.feedback-container .cards-grid-wrapper .feedback-card .feedback-person .profile-pic-container .avatar-illustration {
  border-radius: 32px;
  border: 2px solid #BF8135;
  width: 100%;
}
.feedback-container .cards-grid-wrapper .feedback-card .feedback-person .name-and-title p {
  font-size: 1em;
  line-height: 1.3em;
  opacity: 50%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-container .logo-pic-container .logo-illustration {
    width: 45%;
  }
  .feedback-container .cards-grid-wrapper .feedback-card {
    min-width: 370px;
    max-width: 555px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-container {
    justify-content: left;
    text-align: left;
    gap: 20px;
  }
  .hero-container .logo-pic-container .logo-illustration {
    width: 70%;
  }
  .projects-container {
    align-items: flex-start;
  }
  .projects-container h2 {
    text-align: left;
  }
  .projects-container .projects-wrap-grid {
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
  }
  .projects-container .projects-wrap-grid .project .project-pic-container {
    width: 100%;
    aspect-ratio: 5/3;
    display: flex;
  }
  .projects-container .projects-wrap-grid .project .project-pic-container .project-pic {
    transition-duration: 300ms;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .projects-container .projects-wrap-grid .project .project-description {
    margin-top: 1em;
  }
  .projects-container .projects-wrap-grid .project .project-description .project-label-container {
    display: flex;
    list-style: none;
    opacity: 50%;
    column-gap: 1em;
    margin-bottom: 0.5em;
  }
  .projects-container .projects-wrap-grid .project .project-description .project-label-container li {
    font-family: urbane-rounded, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
  }
  .projects-container .projects-wrap-grid .project:hover .project-pic {
    transition-duration: 300ms;
    scale: 105%;
  }
  .projects-container .projects-wrap-grid .project:hover h3 {
    transition-duration: 300ms;
    color: #BF8135;
  }
  .projects-container .projects-wrap-grid .project-in-progress {
    opacity: 50%;
  }
  .projects-container .projects-wrap-grid .project-in-progress:hover .project-pic {
    scale: 100%;
  }
  .projects-container .projects-wrap-grid .project-in-progress:hover h3 {
    color: #1C2029;
  }
}

/*# sourceMappingURL=landing-style.css.map */
